/* ========================================================
                       FLOATING BUTTONS
==========================================================*/
.floating-button {
  width: 80px;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 1px #060b2642;
  border-radius: 50%;
  position: fixed;
  transition: 0.15s;
}

.floating-button:hover {
  width: 85px;
  height: 85px;
  box-shadow: 1px 1px 15px 1px #1a83ff;
  cursor: pointer;
  font-size: 1.8rem; /* this is the icon inside the button */
  color: #1a83ff;
}

.floating-button:hover::after {
  content: "friends";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  color: #1a83ff;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  box-shadow: 1px 1px 8px 1px #1a85ff79;
}

/* ---------- FRIENDS BUTTON ----------- */

.floating-button.friends {
  right: 20px;
  top: 100px;
}

.floating-button.friends:hover::after {
  content: "friends";
  left: -85px;
  top: 25%;
}

/* ---------- WRITE POST BUTTON ----------- */

.floating-button.write-post {
  right: 20px;
  bottom: 20px;
}

.floating-button.write-post:hover::after {
  content: "write post";
  left: -108px;
  top: 25%;
}
