.floating-button {
  width: 80px;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px 2px #060b2642;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top: 100px;
  transition: 0.15s;
}

.floating-button.friends:hover {
  width: 85px;
  height: 85px;
  /* box-shadow: 1px 1px 10px 1px #060b26; */
  box-shadow: 2px 2px 15px 2px #060b2642;
}

.floating-button:hover::after {
  content: "friends";
  position: absolute;
  background-color: white;
  color: #060b26;
  left: -80px;
  top: 25%;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1.5px solid #060b26;
}
