.notification-modal {
  width: 20em;
  height: 30em;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  top: 4em;
  right: 7em;
  border-radius: 5px;
  z-index: 1;
}
.notification-modal .title {
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.notification-modal .friend-list-container {
  width: 100%;
  height: 88%;
  overflow-y: scroll;
}
.notification-modal .friend-list-container li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5rem 0;
}
.notification-modal .accept-button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: green;
  font-size: 1.5rem;
}
.notification-modal .deny-button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: red;
  font-size: 1.5rem;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8adb1;
  border-radius: 10px;
}
