.userCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.userCardImage img {
  width: 80px;
  max-height: 80px;
  border-radius: 50%;
}

.userCardImage img {
  justify-self: flex-start;
}

.userCardContent {
  flex-grow: 2;
  padding-left: 50px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
