* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landingPage,
.loginPage,
.userHomePage,
.registerPage {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.userHomePage {
  flex-direction: column;
}

.blog-card-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  height: 100%;
  margin-top: 80px;
  justify-content: space-evenly;
}

.blog-card {
  margin: 1rem;
}
