* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f0f2f5;
}
a {
  text-decoration: none;
}

.userSearchPageContainer {
  background-color: white;
  margin: 50px 150px;
  border-radius: 15px;
  padding: 10px 50px;
}

.landingPage,
.registerPage {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.loginPage {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  min-width: 700px;
}
.landingPage-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
